.dashboard {
    background: #E0F0FF;
    overflow-x: hidden;
}

.welcome-block {
    width: 100%;
    display: inline-flex;
    background: #E0F0FF;
}

.welcome-block-right {
    width: 50%;
    justify-content: center;
    text-align: center;
    padding: 5rem;
}

.welcome-block-left {
    width: 50%;
    justify-content: center;
    text-align: center;
    padding: 15px;
}


.welcome-text {
    font-size: 3.0rem;
    font-family: 'Inika', serif;
    font-style: normal;
    line-height: 39px;
    font-weight: 400;
    margin: 10px;
}

.welcome-text-site-name {
    font-family: 'Dancing Script', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 24px;
    padding: 15px;
    color: #FFB800;
    margin: 10px;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
}

.welcome-paragraph-block {
    display: block;
}

.welcome-paragraph-div {
    margin: 20px;
}

.welcome-paragraph {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 24px;
    color: #332C2C;
}

.welcome-button-desktop {
    margin-top: 5rem;
}

.know-more-button-desktop {
    background: #369FFF;
    padding: 15px;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-decoration: none;
    border-radius: 18px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#welcome-icon {
    width: 50%;
    height: 100%;
}

.welcome-button-mobile {
    display: none;
}

/*
 Join-Now White Belt Area CSS starting
 */
.join-now {
    background: #369FFF;
    margin: 10%;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    padding: 1.5rem;
    border-radius: 10px;
    display: flex;
}

.join-now-text {
    width: 70%;
    font-size: 22px;
    color: #FFFFFF;
}

.join-now-div {
    background: #FFFFFF;
    padding: 10px;
    justify-content: center;
    border-radius: 10px;
    width: 10%;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.join-now-link {
    text-align: center;
    color: #0087ff;
    width: 100%;
    font-weight: bold;
    text-decoration: none;
}

/*
 Join-Now White Belt Area CSS ending
 */

.dashboard-lower-division {
    padding: 3.5rem;
}

.dashboard-lower-division-header {
    color: #369FFF;
    font-size: 26px;
}

.dashboard-lower-division-discription {
    width: 100%;
    margin-top: 30px;
}

.dashboard-lower-division-discription-text {
    font-size: 36px;
}

.dashboard-cards {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.middle-section-site-name {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.middle-section-site-name-div {
    background: #CFE2E6;
    padding: 1.5rem;
    width: 75%;
    display: inline-flex;
    justify-content: center;
    box-shadow: 0px 4px 6px 2px #A5A5A5;
    border-radius: 40px;
}
.middle-section-site-name-div header {
    font-family: 'Luxurious Roman';
    font-style: normal;
    font-weight: 500;
    font-size: 4.5rem;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.middle-logo-image-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.middle-logo-image-section img {
    width: 50%;
}

@media only screen and (max-width: 900px) {
    .dashboard {
        overflow-x: hidden;
        width: 100vw;
    }
    .welcome-block {
        width: 100%;
        display: block;
    }

    .welcome-block-right {
        width: 100%;
        padding: 0;
        justify-content: center;
        text-align: center;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .welcome-text {
        font-size: 2.0rem;
        font-family: 'Inika', serif;
        font-style: normal;
        margin-top: 2rem;
        line-height: 36px;
        font-weight: 400;
    }

    .welcome-text-site-name {
        font-family: 'Dancing Script', serif;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 24px;
        color: #FFB800;
        text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    }

    .welcome-block-left {
        width: 100%;
        justify-content: center;
        text-align: center;
        height: auto;
        padding: 0px;
        margin-top: 2rem;
    }

    #welcome-icon {
        width: 60%;
        height: 50%;
    }

    .welcome-paragraph {
        font-family: 'Inika', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #332C2C;
    }

    .welcome-paragraph-div {
        margin: 4px;
    }

    .welcome-button-desktop {
        display: none;
    }
    .welcome-button-mobile {
        margin-top: 2.0rem;
        margin-bottom: 2.0rem;
        display: inline-flex;
    }
    .know-more-button-mobile {
        background: #369FFF;
        padding: 18px;
        justify-content: center;
        text-align: center;
        color: white;
        text-decoration: none;
        border-radius: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .dashboard-cards {
        display: block;
    }

    .middle-section-site-name-div {
        background: #CFE2E6;
        padding: 20px;
        width: 85%;
        display: inline-flex;
        justify-content: center;
        box-shadow: 0px 4px 6px 2px #A5A5A5;
        border-radius: 15px;
    }
    .middle-section-site-name-div header {
        font-family: 'Luxurious Roman';
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    }
}