.question-frame {
    background: white;
    width: 100%;
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px #CBCBCB;
}

.question-section {
    display: flex;
}

.question-point {
    color: #090625;
    margin: 5px;
}

.question-asked {
    font-size: 18px;
    font-weight: 500;
}